@font-face {
    font-family: Anton;
    src: url(../assets/fonts/Anton.ttf);
}

@font-face {
    font-family: Manrope;
    src: url(../assets/fonts/Manrope.ttf);
}

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    font-family: Manrope;
    font-size: 14px;
}

* input:focus {
    outline: none !important;
}

*::-webkit-scrollbar {
    display: none;
}

h1 {
    font-family: Anton;
    font-size: 44px;
    font-weight: 400;
    color: #FFD15B;
}

h2 {
    font-family: Anton;
    font-size: 21px;
    font-weight: 400;
}

h3 {
    font-family: Anton;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

h4 {
    font-family: Manrope;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #7A7A7A;
    margin-bottom: 15px;
}

.material-symbols-outlined {
    width: 100%;
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
}

/* HEADER */

header {
    background-image: url(../assets/photos/header.png);
    background-size: cover;
    height: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    width: 890px;
    text-align: center;
    padding: 20px 90px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#logo {
    position: absolute;
    left: 60px;
    top: 60px;
    width: 205px;
}

#searchbar {
    display: flex;
    align-items: center;
    width: 65%;
    padding-left: 50px;
}

#searchbar input {
    width: 100%;
    padding: 23px;
    padding-right: 66px;
    border-radius: 11px;
    box-sizing: border-box;
}

#searchbar button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    left: -58px;
    width: 50px;
    height: 50px;
}

.btn:hover {
    background-color: #FFD15B;
    border-color: transparent;
}

.searchbar_icon {
    color: white;
}

.btn:hover .searchbar_icon {
    color: black;
}

/* MAIN */

main {
    background-color: #7A7A7A;
    padding: 20px 100px;
}

#menus {
    display: flex;
    gap: 65px;
    margin-bottom: 40px;
}

#filters_zone {
    width: 100%;
}

.menu_select {
    width: 200px;
}

.collapsed {
    border-radius: 11px !important;
}

.accordion-button {
    border-radius: 11px 11px 0px 0px;
}

.accordion-button:focus {
    border-color: transparent;
    box-shadow: none;
}

.accordion {
    border: none;
    --bs-accordion-active-bg: white;
}

.accordion-body {
    background-color: white;
    border-radius: 0px 0px 11px 11px;
    max-height: 200px;
    overflow: scroll;
    scrollbar-width: 0px;
    padding: 0;
}

.accordion-searchbar {
    display: flex;
    padding: 1rem;
    padding-left: 1.25rem;
}

.accordion-searchbar input {
    border: solid 2px #C6C6C6;
}

.accordion-searchbar span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C6C6C6;
    position: relative;
    font-size: 20px;
    left: -25px;
}

.recipe_counter {
    position: absolute;
    margin: 15px;
    right: 60px;
}

.filter {
    cursor: pointer;
    padding: 0.5rem 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.filter[active="true"] {
    background-color: #FFD15B;
    font-weight: 700;
}

.filter:hover {
    background-color: #FFD15B;
}

.filters_list {
    display: flex;
    flex-direction: column;
}

.tag {
    display: flex;
    background-color: #FFD15B;
    border-radius: 10px;
    padding: 18px;
    flex: 20% 1 0;
    max-width: 200px;
}

#tags_list {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.tag_text {
    width: 100%;
}

.tag_closeBtn {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 20px;
    color: black;
    cursor: pointer;
}

.tag_closeBtn:hover {
    color: white;
    border-radius: 90%;
    background-color: black;
}

/* GALLERY */

#gallery {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
}

.card {
    max-width: 29%;
    border-radius: 21px;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
    margin-bottom: 60px;
    border: none;
}

.card img {
    height: 250px;
    object-fit: cover;
    aspect-ratio: 3/2;
    border-radius: 21px 21px 0px 0px;
}

.card_time {
    background-color: #FFD15B;
    border-radius: 14px;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 15px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.card-description {
    margin-bottom: 25px;
}

.ingredients_list {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

.ingredient {
    display: flex;
    flex-direction: column;
    flex: 50% 1 0;
    max-width: 48%;
    margin-bottom: 15px;
}

.ingredient_name {
    font-weight: 500;
}

.ingredient_info {
    color: #7A7A7A;
}